
  
  .userDetailsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 16cm;
    height: 7cm;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 500px){
  .userDetailsContainer {
      flex-direction: column;
      height: auto;
      width: 80%;
      margin-top: 20%;
  }}
  
  .userDetailsHeader {
    width: 50%;
    background-color: #f1f1f14d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 500px) {
    .userDetailsHeader {
      width: 100%;
    }
  }
  
  .userDetailsHeader img {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  @media (max-width: 500px){
    .userDetailsHeader img {
      width: 50%;
      margin-top: 10%;
      border-radius: 50%;
      margin-bottom: 10px;
    }}
  
  .userDetailsHeader h2 {
    margin: 0;
  }
  
  .userDetailsBody {
    width: 50%;
    background-color: #ffffffc6;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 500px) {
    .userDetailsBody {
      width: 100%;
    }
  }
  
  .userDetailsBody p {
    margin: 0 0 10px;
    font-size: small;
    color: rgb(128, 70, 70);
    font-size: large;
    padding: 2px;
  }
  
  .userDetailsBody strong {
    font-weight: bold;
    color: darkslategray;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  